doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Webpack 4 – Indexs
body
div(class="ColumnSection__grid u-clearfix")
        div 1
        div 2
        div 3
        div 4
        div 5
        div 6